* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px dotted red; */
}

body {
	font-family: "Loved by the King", cursive;
	width: 100%;
	height: 100%;
	cursor: url("assets/cursor.svg"), auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;
}

.top-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 2rem;
	font-size: 2rem;
}
.top-nav img {
	width: 50px;
}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.form-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
	font-family: Nunito, sans-serif;
	width: 23%;
	height: 100%;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 20px;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
	font-family: Nunito, sans-serif;
	width: 100%;
}

.valentine-form:nth-child(2) {
	margin-top: 200px;
}

.input-field {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border: 2px dashed #f1356d;
	border-radius: 15px;
	width: 100%;
	position: relative;
	padding: 0.2rem 0;
}
.input-field input {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: transparent;
	outline: none;
	width: 100%;
	font-size: 1.2rem;
}

form button {
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
	background: #f1356d;
	color: #fff;
	width: 100%;
	font-size: 1.1rem;
	letter-spacing: 2px;
	cursor: pointer;
}
.input-field label {
	position: absolute;
	pointer-events: none;
	letter-spacing: 2px;
	top: 10px;
	left: 20px;
	transition: all 0.3s ease-in-out;
}
.form-content input:focus + label,
.form-content input:not(:placeholder-shown) + label {
	transform: translateY(-20px);
	color: var(--main-theme-color);
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	background-color: #fff;
	padding: 0 5px;
	color: #f1356d;
}
#toast {
	max-width: 50px;
	height: 50px;
	background-color: #ff4976;
	color: #fff;
	border-radius: 2px;
	font-family: Nunito, sans-serif;
	position: fixed;
	z-index: 1;
	right: 2rem;
	top: 30px;
	font-size: 1.1rem;
	width: 350px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	letter-spacing: 2px;
	overflow: hidden;
	padding: 1rem 0.8rem;
	border-radius: 20px;
	visibility: hidden;
}
#toast #img {
	color: #ffffff;
	font-size: 1.5rem;
}
#toast #desc {
	color: #fff;
	padding: 16px;
	width: 100%;
	/* overflow: hidden; */
	white-space: nowrap;
}

#toast.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
		fadeout 0.5s 2.5s;
	animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
		fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes expand {
	from {
		min-width: 50px;
	}
	to {
		min-width: 350px;
	}
}

@keyframes expand {
	from {
		min-width: 50px;
	}
	to {
		min-width: 350px;
	}
}
@-webkit-keyframes stay {
	from {
		min-width: 350px;
	}
	to {
		min-width: 350px;
	}
}

@keyframes stay {
	from {
		min-width: 350px;
	}
	to {
		min-width: 350px;
	}
}
@-webkit-keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 50px;
	}
}

@keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 50px;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 60px;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 60px;
		opacity: 0;
	}
}
.link-area {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-family: Nunito, sans-serif;
	width: 23%;
}
.link-area a {
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
	width: 100%;
	font-size: 1.1rem;
	letter-spacing: 2px;
	cursor: pointer;
	text-align: center;
}
.link-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;

	width: 100%;
	height: 100%;
}
.link-area button {
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
	background: #f1356d;
	color: #fff;
	width: 100%;
	font-size: 1.1rem;
	letter-spacing: 2px;
	cursor: pointer;
}
dialog {
	margin: auto;
	width: 70%;
	height: 70%;
	border: 2px solid #f1356d;
	border-radius: 5rem;
	animation: dialog-appear 0.5s ease-in-out;
}
.illustration {
	width: 70%;
}
.invitation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
	width: 100%;
	height: 100%;
}
@keyframes dialog-appear {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.invitation-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
	padding: 50px;
}
.invitation-content .creator {
	text-align: right;
}
.invitation-content p {
	font-family: Nunito, sans-serif;
	line-height: 2.5rem;
}

.invitation-content h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
.invitation-content h1 img {
	width: 50px;
}

.yes-no {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
}
.invitation-content button {
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
	background: #f1356d;
	color: #fff;
	font-size: 1.1rem;
	letter-spacing: 2px;
	cursor: pointer;
	outline: none;
}

#no {
	background-color: transparent;
	color: #f1356d;
	border: 2px solid #f1356d;
	width: 30%;
}
#yes {
	background: #f1356d;
	color: #fff;
	width: 100%;
}

.creator-contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	letter-spacing: 3px;
}
.creator-contact ul li {
	list-style: none;
}
.creator-contact ul li a {
	text-decoration: none;
	color: #f1356d;
}
.creator-contact ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	font-size: 1.3rem;
}

@media (max-width: 768px) {
	.form-content {
		width: 80%;
	}
	.link-area {
		width: 80%;
	}
	.top-nav {
		font-size: 1.5rem;
	}
	#dialog {
		width: 90%;
		height: 90%;
	}
	.illustration {
		display: none;
	}
}
